<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Email configuration-->
    <add key="FromAddress" value="dgelis@getitsmart.net" />
    <add key="Username" value="dgelis@getitsmart.net" />
    <add key="Password" value="Gis12345!" />
    <add key="Host" value="mail.getitsmart.net" />
    <add key="Port" value="25" />
    <add key="EnableSsl" value="true" />
    <add key="Timeout" value="10000" />
    <!--Email configuration-->
  </appSettings>
</configuration>